# POSTGRES
POSTGRES_USER=autoshop_user
POSTGRES_PASSWORD=autoshop_password
POSTGRES_DB=autoshop_db
POSTGRES_HOST=postgres

# LAPIS
LAPIS_SECRET_KEY=your_secret_key_here
ITEMS_PER_PAGE=20

# BCRYPT
BCRYPT_ROUNDS=12